In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
import pymongo
from pymongo import MongoClient

In [3]:
# conexão MongoDB
client = MongoClient('mongodb+srv://jehtinoco:TI10co29**@clusterjessica.ejf02eq.mongodb.net/test')

In [4]:
db=client["dev_comexstat"]

In [5]:
coll_tab01=db["depara_sh4"]
coll_tab02=db["depara_mun"]
coll_tab03=db["depara_pais"]
coll_tab04=db["depara_uf"]

In [6]:
pipe_tab01 = [{'$project':{'_id':0, 
                           'CO_SH4':1,
                           'NO_SH4_POR':1,
                           'NO_SH2_POR':1,
                           'NO_SEC_POR':1}}]

pipe_tab02 = [{'$project':{'_id':0, 
                           'CO_MUN_GEO': 1,
                           'NO_MUN': 1 }}]

pipe_tab03 = [{'$project':{'_id':0,
                           'CO_PAIS': 1,
                           'NO_PAIS': 1 }}]

pipe_tab04 = [{'$project':{'_id':0,
                           'SG_UF': 1,
                           'NO_UF': 1,
                           'NO_REGIAO': 1 }}]

In [7]:
cursor_tab01=coll_tab01.aggregate(pipe_tab01)
cursor_tab02=coll_tab02.aggregate(pipe_tab02)
cursor_tab03=coll_tab03.aggregate(pipe_tab03)
cursor_tab04=coll_tab04.aggregate(pipe_tab04)

In [8]:
list_tab01=list(cursor_tab01)
list_tab02=list(cursor_tab02)
list_tab03=list(cursor_tab03)
list_tab04=list(cursor_tab04)

In [9]:
df_tab01=pd.DataFrame(list_tab01)
df_tab02=pd.DataFrame(list_tab02)
df_tab03=pd.DataFrame(list_tab03)
df_tab04=pd.DataFrame(list_tab04)

In [10]:
base_imp=r"C:\Users\jetin\Documents\FATEC\2° semestre\api2\Dados\IMP_2023_MUN.csv"
base_exp=r"C:\Users\jetin\Documents\FATEC\2° semestre\api2\Dados\EXP_2023_MUN.csv"

In [11]:
dict_type={'CO_ANO':str,
           'CO_MES':str,
           'SH4':str,
           'CO_PAIS':str,
           'CO_MUN':str  }

In [12]:
df_imp=pd.read_csv(base_imp, sep=";", dtype=dict_type)
df_exp=pd.read_csv(base_exp, sep=";", dtype=dict_type)

# Separando o estado de SP e concatenando importação e exportação

In [13]:
df_imp['TIPO'] = 'IMPORTAÇÃO'

In [14]:
df_imp_sp=df_imp.loc[df_imp['SG_UF_MUN']=='SP']

In [15]:
df_imp_sp.head()

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,TIPO
4,2023,02,8512,386,SP,3438709,193,5349,IMPORTAÇÃO
5,2023,04,8483,249,SP,3413009,473,232936,IMPORTAÇÃO
7,2023,01,7318,249,SP,3425904,1754,343183,IMPORTAÇÃO
8,2023,07,8538,023,SP,3450308,90955,850564,IMPORTAÇÃO
10,2023,07,7318,249,SP,3420509,16240,252086,IMPORTAÇÃO

In [16]:
df_exp['TIPO'] = 'EXPORTAÇÃO'

In [17]:
df_exp_sp=df_exp.loc[df_exp['SG_UF_MUN']=='SP']

In [18]:
df_exp_sp.head()

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,TIPO
1,2023,07,8708,158,SP,3450308,22224,345388,EXPORTAÇÃO
2,2023,01,6204,249,SP,3450308,53,7125,EXPORTAÇÃO
5,2023,07,2106,361,SP,3441703,4600,29072,EXPORTAÇÃO
8,2023,01,9032,158,SP,3456701,240,97730,EXPORTAÇÃO
12,2023,04,3214,063,SP,3448708,108428,372846,EXPORTAÇÃO

In [19]:
df_concat_sp=pd.concat([df_imp_sp,df_exp_sp]).reset_index(drop=True)

In [20]:
df_concat_sp.head()

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,TIPO
0,2023,02,8512,386,SP,3438709,193,5349,IMPORTAÇÃO
1,2023,04,8483,249,SP,3413009,473,232936,IMPORTAÇÃO
2,2023,01,7318,249,SP,3425904,1754,343183,IMPORTAÇÃO
3,2023,07,8538,023,SP,3450308,90955,850564,IMPORTAÇÃO
4,2023,07,7318,249,SP,3420509,16240,252086,IMPORTAÇÃO

## Aplicando depara na base SP

In [21]:
df_merge1=pd.merge(df_concat_sp, df_tab01, how='left', left_on='SH4', right_on='CO_SH4')
df_merge2=pd.merge(df_merge1, df_tab02, how='left', left_on='CO_MUN', right_on='CO_MUN_GEO')

In [22]:
df_merge3=pd.merge(df_merge2, df_tab03, how='left', on='CO_PAIS')
df_merge4=pd.merge(df_merge3, df_tab04, how='left', left_on='SG_UF_MUN', right_on='SG_UF')

In [23]:
df_merge4.head()

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,TIPO,CO_SH4,NO_SH4_POR,NO_SH2_POR,NO_SEC_POR,CO_MUN_GEO,NO_MUN,NO_PAIS,SG_UF,NO_UF,NO_REGIAO
0,2023,02,8512,386,SP,3438709,193,5349,IMPORTAÇÃO,8512,Aparelhos elétricos de iluminação ou de sinali...,Máquinas; aparelhos e materiais elétricos; e s...,Máquinas e aparelhos; material elétrico e suas...,3438709,PIRACICABA,Itália,SP,São Paulo,REGIAO SUDESTE
1,2023,04,8483,249,SP,3413009,473,232936,IMPORTAÇÃO,8483,Veios (árvores) de transmissão [incluídas as á...,Reatores nucleares; caldeiras; máquinas; apare...,Máquinas e aparelhos; material elétrico e suas...,3413009,COTIA,Estados Unidos,SP,São Paulo,REGIAO SUDESTE
2,2023,01,7318,249,SP,3425904,1754,343183,IMPORTAÇÃO,7318,Parafusos; pernos ou pinos; roscados; porcas; ...,Obras de ferro fundido; ferro ou aço,Metais comuns e suas obras,3425904,JUNDIAI,Estados Unidos,SP,São Paulo,REGIAO SUDESTE
3,2023,07,8538,023,SP,3450308,90955,850564,IMPORTAÇÃO,8538,Partes reconhecíveis como exclusiva ou princip...,Máquinas; aparelhos e materiais elétricos; e s...,Máquinas e aparelhos; material elétrico e suas...,3450308,SAO PAULO,Alemanha,SP,São Paulo,REGIAO SUDESTE
4,2023,07,7318,249,SP,3420509,16240,252086,IMPORTAÇÃO,7318,Parafusos; pernos ou pinos; roscados; porcas; ...,Obras de ferro fundido; ferro ou aço,Metais comuns e suas obras,3420509,INDAIATUBA,Estados Unidos,SP,São Paulo,REGIAO SUDESTE

## Incluindo as cadeias produtivas

In [24]:
# Ler o arquivo de mapeamento em formato JSON
with open('mapeamento.json', 'r', encoding='utf-8') as arquivo:
    mapeamento = json.load(arquivo)

In [25]:
df_merge4['CADEIA PRODUTIVA'] = df_merge4['CO_SH4'].map(mapeamento)

In [26]:
df_merge4['CADEIA PRODUTIVA'] = df_merge4['CADEIA PRODUTIVA'].fillna('Outras')

In [27]:
df_merge4.head()

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,TIPO,CO_SH4,NO_SH4_POR,NO_SH2_POR,NO_SEC_POR,CO_MUN_GEO,NO_MUN,NO_PAIS,SG_UF,NO_UF,NO_REGIAO,CADEIA PRODUTIVA
0,2023,02,8512,386,SP,3438709,193,5349,IMPORTAÇÃO,8512,Aparelhos elétricos de iluminação ou de sinali...,Máquinas; aparelhos e materiais elétricos; e s...,Máquinas e aparelhos; material elétrico e suas...,3438709,PIRACICABA,Itália,SP,São Paulo,REGIAO SUDESTE,Automotiva
1,2023,04,8483,249,SP,3413009,473,232936,IMPORTAÇÃO,8483,Veios (árvores) de transmissão [incluídas as á...,Reatores nucleares; caldeiras; máquinas; apare...,Máquinas e aparelhos; material elétrico e suas...,3413009,COTIA,Estados Unidos,SP,São Paulo,REGIAO SUDESTE,Automotiva
2,2023,01,7318,249,SP,3425904,1754,343183,IMPORTAÇÃO,7318,Parafusos; pernos ou pinos; roscados; porcas; ...,Obras de ferro fundido; ferro ou aço,Metais comuns e suas obras,3425904,JUNDIAI,Estados Unidos,SP,São Paulo,REGIAO SUDESTE,Aparelhos Eletrônicos
3,2023,07,8538,023,SP,3450308,90955,850564,IMPORTAÇÃO,8538,Partes reconhecíveis como exclusiva ou princip...,Máquinas; aparelhos e materiais elétricos; e s...,Máquinas e aparelhos; material elétrico e suas...,3450308,SAO PAULO,Alemanha,SP,São Paulo,REGIAO SUDESTE,Materiais Elétricos
4,2023,07,7318,249,SP,3420509,16240,252086,IMPORTAÇÃO,7318,Parafusos; pernos ou pinos; roscados; porcas; ...,Obras de ferro fundido; ferro ou aço,Metais comuns e suas obras,3420509,INDAIATUBA,Estados Unidos,SP,São Paulo,REGIAO SUDESTE,Aparelhos Eletrônicos

In [28]:
df_merge4['CADEIA PRODUTIVA'].isna().sum()

0

In [29]:
df_merge4['CADEIA PRODUTIVA'].value_counts()

Materiais Elétricos              101686
Metalúrgica                       94431
Minério                           65166
Aparelhos Eletrônicos             64882
Automotiva                        52064
Alimentar                         48868
Têxtil                            42513
Produtos Químicos Inorgânicos     38962
Plástico                          37444
Farmacêutica                      27249
Produtos Químicos                 19375
Cosmética                         16146
Papel e Celulose                  15758
Vidreira                          11772
Produtos Químicos Orgânicos        9185
Hospitalar                         9141
Instrumentos Musicais              7633
Cultura e Entretenimento           6954
Construção Civil                   4837
Petroleira                         4736
Cerâmica                           4625
Artigos Domésticos                 4507
Moveleira                          4471
Calçado                            3404
Agronegócio                        3022
Ótica                              2821
Petroquímica                       2571
Bebidas                            2025
Aeronáutica                        2024
Construção civil                   1488
Telecomunicações                   1471
Relojoeira                          978
Tabacaria                           573
Farmacéutica                        532
Pesqueira                           297
Bélica                              241
Transporte                          217
Minérios                            131
Madeireira                           88
Name: CADEIA PRODUTIVA, dtype: int64

### Separando base "Outras" da Cadeia Produtiva para mapeamento

In [ ]:
#df_CP_Outras = df_merge4.loc[df_merge4['CADEIA PRODUTIVA']=='Outras'].reset_index(drop=True)

In [ ]:
#df_CP_Outras=df_CP_Outras[['CO_SH4', 'NO_SH4_POR', 'TIPO', 'CADEIA PRODUTIVA']].drop_duplicates().reset_index(drop=True)

In [ ]:
#df_CP_Outras.head()

In [ ]:
# salvando base Outras Cadeias Produtivas - SH4
#df_CP_Outras.to_csv('base_OUTRAS_CP.csv', index=False)

## Limpando base SP e criando base SP-SH4-MUN

In [30]:
df_sp= df_merge4.drop(['SH4','CO_PAIS','SG_UF_MUN','CO_MUN','CO_MUN_GEO'], axis=1)

In [31]:
df_sp.insert(8,'TIPO', df_sp.pop('TIPO'))

In [32]:
df_sp.head()

,CO_ANO,CO_MES,KG_LIQUIDO,VL_FOB,CO_SH4,NO_SH4_POR,NO_SH2_POR,NO_SEC_POR,TIPO,NO_MUN,NO_PAIS,SG_UF,NO_UF,NO_REGIAO,CADEIA PRODUTIVA
0,2023,02,193,5349,8512,Aparelhos elétricos de iluminação ou de sinali...,Máquinas; aparelhos e materiais elétricos; e s...,Máquinas e aparelhos; material elétrico e suas...,IMPORTAÇÃO,PIRACICABA,Itália,SP,São Paulo,REGIAO SUDESTE,Automotiva
1,2023,04,473,232936,8483,Veios (árvores) de transmissão [incluídas as á...,Reatores nucleares; caldeiras; máquinas; apare...,Máquinas e aparelhos; material elétrico e suas...,IMPORTAÇÃO,COTIA,Estados Unidos,SP,São Paulo,REGIAO SUDESTE,Automotiva
2,2023,01,1754,343183,7318,Parafusos; pernos ou pinos; roscados; porcas; ...,Obras de ferro fundido; ferro ou aço,Metais comuns e suas obras,IMPORTAÇÃO,JUNDIAI,Estados Unidos,SP,São Paulo,REGIAO SUDESTE,Aparelhos Eletrônicos
3,2023,07,90955,850564,8538,Partes reconhecíveis como exclusiva ou princip...,Máquinas; aparelhos e materiais elétricos; e s...,Máquinas e aparelhos; material elétrico e suas...,IMPORTAÇÃO,SAO PAULO,Alemanha,SP,São Paulo,REGIAO SUDESTE,Materiais Elétricos
4,2023,07,16240,252086,7318,Parafusos; pernos ou pinos; roscados; porcas; ...,Obras de ferro fundido; ferro ou aço,Metais comuns e suas obras,IMPORTAÇÃO,INDAIATUBA,Estados Unidos,SP,São Paulo,REGIAO SUDESTE,Aparelhos Eletrônicos

In [33]:
# salvando base SP - SH4 - MUN
df_sp.to_csv('base_SP_SH4_MUN.csv', index=False)

## Separando as 5 cidades pedidas

In [34]:
# ['3450308','3436505','3449904','3409502','3425904']
list_cidades=['SAO PAULO','PAULINIA','SAO JOSE DOS CAMPOS','CAMPINAS','JUNDIAI']

In [35]:
df_5_MUN=df_sp.loc[df_sp['NO_MUN'].isin(list_cidades)].reset_index(drop=True)

In [36]:
df_5_MUN.head()

,CO_ANO,CO_MES,KG_LIQUIDO,VL_FOB,CO_SH4,NO_SH4_POR,NO_SH2_POR,NO_SEC_POR,TIPO,NO_MUN,NO_PAIS,SG_UF,NO_UF,NO_REGIAO,CADEIA PRODUTIVA
0,2023,01,1754,343183,7318,Parafusos; pernos ou pinos; roscados; porcas; ...,Obras de ferro fundido; ferro ou aço,Metais comuns e suas obras,IMPORTAÇÃO,JUNDIAI,Estados Unidos,SP,São Paulo,REGIAO SUDESTE,Aparelhos Eletrônicos
1,2023,07,90955,850564,8538,Partes reconhecíveis como exclusiva ou princip...,Máquinas; aparelhos e materiais elétricos; e s...,Máquinas e aparelhos; material elétrico e suas...,IMPORTAÇÃO,SAO PAULO,Alemanha,SP,São Paulo,REGIAO SUDESTE,Materiais Elétricos
2,2023,04,288,759,8409,Partes reconhecíveis como exclusiva ou princip...,Reatores nucleares; caldeiras; máquinas; apare...,Máquinas e aparelhos; material elétrico e suas...,IMPORTAÇÃO,SAO PAULO,Coreia do Sul,SP,São Paulo,REGIAO SUDESTE,Automotiva
3,2023,05,240,31223,3507,Enzimas; enzimas preparadas não especificadas ...,Matérias albuminóides; produtos à base de amid...,Produtos das indústrias químicas ou indústrias...,IMPORTAÇÃO,SAO PAULO,Países Baixos (Holanda),SP,São Paulo,REGIAO SUDESTE,Produtos Químicos
4,2023,06,17,963,8414,Bombas de ar ou de vácuo; compressores de ar o...,Reatores nucleares; caldeiras; máquinas; apare...,Máquinas e aparelhos; material elétrico e suas...,IMPORTAÇÃO,SAO JOSE DOS CAMPOS,Itália,SP,São Paulo,REGIAO SUDESTE,Metalúrgica

In [37]:
df_5_MUN['NO_MUN'].unique()

array(['JUNDIAI', 'SAO PAULO', 'SAO JOSE DOS CAMPOS', 'PAULINIA',
       'CAMPINAS'], dtype=object)

In [38]:
df_5_MUN['CO_MES'].unique()

array(['01', '07', '04', '05', '06', '03', '02'], dtype=object)

In [39]:
# salvando base com as 5 cidades pedidas - SH4
df_5_MUN.to_csv('base_5_MUN_SH4.csv', index=False)

## Separando as Exportações de SJC

In [ ]:
#df_exp_SJC = df_5_MUN[(df_5_MUN['TIPO']=='EXPORTAÇÃO') & (df_5_MUN['NO_MUN']=='SAO JOSE DOS CAMPOS')].reset_index(drop=True)

In [ ]:
#df_exp_SJC = df_exp_SJC[['KG_LIQUIDO','VL_FOB','CO_SH4','NO_SH4_POR','NO_SH2_POR','NO_SEC_POR','CADEIA PRODUTIVA']]

In [ ]:
#df_exp_SJC.head()

In [ ]:
#chave_exp=['CO_SH4', 'NO_SH4_POR','NO_SH2_POR', 'NO_SEC_POR', 'CADEIA PRODUTIVA']
#var_int_exp=['KG_LIQUIDO', 'VL_FOB']

#df_exp_SJC_agrup=df_exp_SJC.groupby(chave_exp)[var_int_exp].sum().reset_index()

In [ ]:
#df_exp_SJC_agrup['VL_AGREG_SEM'] = df_exp_SJC_agrup['VL_FOB']/df_exp_SJC_agrup['KG_LIQUIDO']

In [ ]:
#df_exp_SJC_agrup.head()

In [ ]:
# salvando base com as EXP-SJC agrupada por SH4, somando VALOR FOB e KG LIQUIDO
#df_exp_SJC_agrup.to_csv('base_exp_SJC_agrup.csv', index=False)

## Escolhendo o produto para fluxo logístico de exportação de uma carga originária de SJC

### Tratamento da base fornecida pelo cliente

In [40]:
base_9603=r"C:\Users\jetin\Python_Códigos\API2_fluxo_logistico\Sprint 2\base_5_MUN_SH4.csv"

In [41]:
dict_type={'CO_ANO':str,
           'CO_MES':str,
           'CO_SH4':str,
           'CO_PAIS':str,
           'CO_MUN':str  }

In [43]:
df_9603=pd.read_csv(base_9603, sep=",", dtype=dict_type)

In [44]:
df_9603 = df_9603[(df_9603['TIPO'] == 'EXPORTAÇÃO') & (df_9603['NO_MUN'] == 'SAO JOSE DOS CAMPOS') & (df_9603['CO_SH4'] == '9306')].reset_index(drop=True)

In [45]:
df_9603.head()

,CO_ANO,CO_MES,KG_LIQUIDO,VL_FOB,CO_SH4,NO_SH4_POR,NO_SH2_POR,NO_SEC_POR,TIPO,NO_MUN,NO_PAIS,SG_UF,NO_UF,NO_REGIAO,CADEIA PRODUTIVA
0,2023,03,849551,9343676,9306,Bombas; granadas; torpedos; minas; mísseis; ca...,Armas e munições; suas partes e acessórios,Armas e munições; suas partes e acessórios,EXPORTAÇÃO,SAO JOSE DOS CAMPOS,Emirados Árabes Unidos,SP,São Paulo,REGIAO SUDESTE,Bélica
1,2023,01,7260,1741125,9306,Bombas; granadas; torpedos; minas; mísseis; ca...,Armas e munições; suas partes e acessórios,Armas e munições; suas partes e acessórios,EXPORTAÇÃO,SAO JOSE DOS CAMPOS,Filipinas,SP,São Paulo,REGIAO SUDESTE,Bélica
2,2023,05,1419549,15969253,9306,Bombas; granadas; torpedos; minas; mísseis; ca...,Armas e munições; suas partes e acessórios,Armas e munições; suas partes e acessórios,EXPORTAÇÃO,SAO JOSE DOS CAMPOS,Emirados Árabes Unidos,SP,São Paulo,REGIAO SUDESTE,Bélica

### Tratamento da base histórica do produto

In [46]:
base_hist_9603=r"C:\Users\jetin\Python_Códigos\API2_fluxo_logistico\Sprint 2\hist_export_mun.csv"

In [47]:
dict_type={'CO_ANO':str,
           'CO_MES':str,
           'SH4':str,
           'CO_PAIS':str,
           'CO_MUN':str  }

In [48]:
df_hist_9603=pd.read_csv(base_hist_9603, sep=",", dtype=dict_type)

In [49]:
df_hist_9603.head()

  CO_ANO CO_MES   CO_MUN CO_PAIS  KG_LIQUIDO SG_UF_MUN   SH4  VL_FOB
0   1997     12  3443303     628        4354        SP  9306   27733
1   1997     03  3443303     245        8603        SP  9306   62802
2   1997     06  3443303     628        1617        SP  9306   11410
3   1997     12  3443303     023        7050        SP  9306   45519
4   1997     08  3405708     845           2        SP  9306     555

In [50]:
df_hist_9603['TIPO'] = 'EXPORTAÇÃO'

In [51]:
df_merge1=pd.merge(df_hist_9603, df_tab01, how='left', left_on='SH4', right_on='CO_SH4')
df_merge2=pd.merge(df_merge1, df_tab02, how='left', left_on='CO_MUN', right_on='CO_MUN_GEO')

In [52]:
df_merge3=pd.merge(df_merge2, df_tab03, how='left', on='CO_PAIS')
df_merge4=pd.merge(df_merge3, df_tab04, how='left', left_on='SG_UF_MUN', right_on='SG_UF')

In [53]:
df_merge4['CADEIA PRODUTIVA'] = df_merge4['CO_SH4'].map(mapeamento)

In [54]:
df_merge4['CADEIA PRODUTIVA'] = df_merge4['CADEIA PRODUTIVA'].fillna('Outras')

In [55]:
df_merge4['CADEIA PRODUTIVA'].isna().sum()

0

In [56]:
df_merge4['CADEIA PRODUTIVA'].value_counts()

Bélica    4239
Name: CADEIA PRODUTIVA, dtype: int64

In [57]:
df_hist_9603= df_merge4.drop(['SH4','CO_PAIS','SG_UF_MUN','CO_MUN','CO_MUN_GEO'], axis=1)

In [58]:
df_hist_9603.insert(8,'TIPO', df_hist_9603.pop('TIPO'))

In [59]:
df_hist_9603 = df_hist_9603[(df_hist_9603['TIPO'] == 'EXPORTAÇÃO') & (df_hist_9603['NO_MUN'] == 'SAO JOSE DOS CAMPOS') & (df_hist_9603['CO_SH4'] == '9306')].reset_index(drop=True)

#### Cancatenando base cliente + historico 9603 - produto exportação SJC

In [64]:
if df_9603.columns.equals(df_hist_9603.columns):
    # Use pd.concat para concatenar os DataFrames
    df_concat_9603 = pd.concat([df_9603, df_hist_9603], ignore_index=True)
else:
    print("Os DataFrames têm estruturas de colunas diferentes.")

In [65]:
df_concat_9603.head()

,CO_ANO,CO_MES,KG_LIQUIDO,VL_FOB,CO_SH4,NO_SH4_POR,NO_SH2_POR,NO_SEC_POR,TIPO,NO_MUN,NO_PAIS,SG_UF,NO_UF,NO_REGIAO,CADEIA PRODUTIVA
0,2023,03,849551,9343676,9306,Bombas; granadas; torpedos; minas; mísseis; ca...,Armas e munições; suas partes e acessórios,Armas e munições; suas partes e acessórios,EXPORTAÇÃO,SAO JOSE DOS CAMPOS,Emirados Árabes Unidos,SP,São Paulo,REGIAO SUDESTE,Bélica
1,2023,01,7260,1741125,9306,Bombas; granadas; torpedos; minas; mísseis; ca...,Armas e munições; suas partes e acessórios,Armas e munições; suas partes e acessórios,EXPORTAÇÃO,SAO JOSE DOS CAMPOS,Filipinas,SP,São Paulo,REGIAO SUDESTE,Bélica
2,2023,05,1419549,15969253,9306,Bombas; granadas; torpedos; minas; mísseis; ca...,Armas e munições; suas partes e acessórios,Armas e munições; suas partes e acessórios,EXPORTAÇÃO,SAO JOSE DOS CAMPOS,Emirados Árabes Unidos,SP,São Paulo,REGIAO SUDESTE,Bélica
3,1997,08,1984,76002,9306,Bombas; granadas; torpedos; minas; mísseis; ca...,Armas e munições; suas partes e acessórios,Armas e munições; suas partes e acessórios,EXPORTAÇÃO,SAO JOSE DOS CAMPOS,Chile,SP,São Paulo,REGIAO SUDESTE,Bélica
4,1997,11,27130,1790800,9306,Bombas; granadas; torpedos; minas; mísseis; ca...,Armas e munições; suas partes e acessórios,Armas e munições; suas partes e acessórios,EXPORTAÇÃO,SAO JOSE DOS CAMPOS,Colômbia,SP,São Paulo,REGIAO SUDESTE,Bélica

In [66]:
# salvando base com as 9603 produto exp SJC
df_concat_9603.to_csv('base_hist_9603.csv', index=False)